/* fichier app.scss */
@import 'variables';
@import '../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap';
@import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables';
@import '../../bower_components/swiper/dist/css/swiper.min.css';

$label-color:                 #2d2e2e !default;

body {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-size: 16px;
	text-align: justify;
	line-height: 1.8;
	color: #888888;
	background-color: #fafafa;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Roboto Slab", "Times New Roman", Times, serif;
    font-weight: 700;
    line-height: 1.1;
    color: #2d2e2e;
} 

.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    color: #2d2e2e;
    border-radius: .25em;
} 

a {
    color: #4ab8b5;
    text-decoration: none;
	transition: color 250ms ease;
}

a:hover {
    color: #42a7a4;
    text-decoration: none;
}

#brand{
	display: none;
	text-transform: uppercase;
	line-height: 1;
	margin: -5px 0;
}

#brand > span{
	display: block;
	clear: both;
	text-transform: lowercase;
	font-family: "Open Sans", "Times New Roman", Times, serif;
	font-size: 10px;
	line-height: 1;
}

.google-map{
	height: 450px;
}

/* -------------------------------------------------- 
:: SWIPER - HOME SLIDER
-----------------------------------------------------*/

.swiper-container {
	width: 100%;
	min-height: 500px;
	height: 100%;
	background: #f2f2f2;
}
.swiper-slide {
	font-size: 18px;
	color:#2d2e2e;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 40px 60px;
}
.parallax-bg {
	position: absolute;
	left: 0;
	top: 0;
	width: 130%;
	height: 100%;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
}
.swiper-slide .title {
	font-family: 'Roboto slab';
	font-size: 41px;
	font-weight: 700;
}
.swiper-slide .subtitle {
	font-size: 21px;
}
.swiper-slide .text {
	font-size: 14px;
	max-width: 450px;
	line-height: 1.5;
}


/* -------------------------------------------------- 
:: SCROLLUP
-----------------------------------------------------*/
.scrollup {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 5px;
    right: 5px;
    display: inline;
    line-height:3em;
	font-size: 12px;
	font-weight: bold;
    background-color: #c6c6c6;
    color:#F2F2F2;
    text-align:center;
    z-index: 54;
	border-radius: 200px 200px 200px 200px;
	-moz-border-radius: 200px 200px 200px 200px;
	-webkit-border-radius: 200px 200px 200px 200px;
	border: 0px solid #000000;
}

.scrollup:hover, .scrollup:focus, .scrollup:visited {
    color: #fff;
  	background: #fec20b;
}

.scrollup.active {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}


/* -------------------------------------------------- 
:: NAVBAR
-----------------------------------------------------*/
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border: 1px solid transparent;
}

#topNav {
	z-index:-1;
}

#nav {
  width: 100%;
}

#nav.affix-top {
   position: absolute;
   top:0;
   left:0;
   z-index:10;
   background-color:transparent;
   border:0;
}

#nav.affix {
   position: fixed;
   border: 1px solid transparent;
   top: 0;
   z-index:10;
   -webkit-transition: background-color .6s ease-in-out;
}

.navbar-inverse {
	font-family: 'Roboto Slab';
	font-size: 16px;
	font-weight: bold;
    background-color: #fff;
    border-color: transparent;
}

.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-nav>li>a:hover,.navbar-inverse .navbar-text {
    color: #2d2e2e;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #d15a94;
    background-color: transparent;
}

